body {
    background-color: lightblue;
}

h1, em {
    text-align: center;
    color: red;
    margin-top: 0;
}
a {
    background: lightgreen;
    font-size: 20px;
    
}
header {
    margin: 100%px;
    padding: 100%px;
    background-color: blue;
}
nav {
    padding: 5px;
    margin: 5px;
    
}
.me {
    background-color:teal;
}
span{
    color:blue;
}
img {
    float: left;
    padding: 5px;
    width: 400px;
    height: 600;
}
.p {
    background-color: forestgreen;
}


#search {
    float: right;
    padding: 50%px;
    border-color:blue;
    text-align: center;
}